.hours-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
  background-color: #d6e0f0;
  padding-top: 20px;
  padding-bottom: 20px;
}
